@import "../..//sharedStyles/shared.module.scss";

.CustomerSlide {
    height: 100%;
    width: 100%;
}

.Container {
    height: 100%;

    .Services {
        height: 100%;
        width: 70%;
        margin: auto;
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        >div {
            margin-bottom: 20px;
        }
    }
}

.Heading {
    h1 {
        text-align: center;
        color: $tertiary-color;
        font-weight: 400;
        line-height: 36px;
        font-size: 34pt;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
        color: $muted-color;
        opacity: 0.6;
        font-weight: 400;
        line-height: 14px;
        font-size: 14pt;
    }
}