@import "../../sharedStyles/shared.module.scss";

.Container {
    width: 50%;
    min-width: 500px;
    margin-bottom: 30px;

    .Heading {
        margin-bottom: 50px;

        h1 {
            text-align: center;
            color: $tertiary-color;
            font-weight: 400;
            line-height: 36px;
            font-size: 34pt;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            color: $muted-color;
            opacity: 0.6;
            font-weight: 400;
            line-height: 14px;
            font-size: 14pt;
        }
    }

    .Selector {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        p {
            margin: 0 10px;
            height: 36px;
            display: inline-block;
        }

        .DateSelector {
            display: inline-block;
            margin-bottom: 13px;
            height: 36px;
            padding: 0 5px 0 12px;
            border: none;
            box-shadow: 3.27429px 3.27429px 13.0972px rgba(240, 84, 84, 0.25);
        }
    }

    // to remove demo label
    .Calendar {
        >div:first-of-type>div:first-of-type>div:first-of-type>div:first-of-type>div:first-of-type div:last-of-type {
            visibility: hidden !important;
        }
    }

    .Event {
        display: flex;
        justify-content: space-around;
        background-color: transparentize($primary-color, 0.8);
        margin: 20px 0;
        color: $tertiary-color;
        padding: 10px;
        border: 1px solid $primary-color;
        border-radius: 10px;

        div>p:first-of-type {
            background-color: transparentize($tertiary-color, 0.8);
            font-size: 12pt;
            font-weight: 700;
            border: 1px solid $tertiary-color;
            border-radius: 10px;
            margin-bottom: 10px;
            padding: 2px 10px;
        }

        p {
            text-align: center;
            margin: 0;

            span {
                margin: 0 2px;
            }
        }

        button {
            color: white;
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            font-weight: 700;
        }

        .AcceptBtn {
            background-color: $tertiary-color;
            margin-right: 5px;
        }

        .RejectBtn {
            background-color: $primary-color;
            margin-left: 5px;
        }
    }

    .Edit {

        >div {}

        form {
            display: flex;
            justify-content: space-between;

            input {
                border: 1px solid $primary-color;
                border-radius: 10px;
                padding: 5px 10px;
                width: 40%;
            }

            button {
                background-color: $primary-color;
            }
        }
    }
}