@import "../../sharedStyles/shared.module.scss";

.Container {
    width: 610px;
    padding-bottom: 50px;

    .Heading {
        margin-bottom: 50px;

        h1 {
            text-align: center;
            color: $tertiary-color;
            font-weight: 400;
            line-height: 36px;
            font-size: 34pt;
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            color: $muted-color;
            opacity: 0.6;
            font-weight: 400;
            line-height: 14px;
            font-size: 14pt;
        }
    }

    .Category {
        padding: 10px 15px;
        width: fit-content;
        margin: 0 auto 30px;
        border: 1px solid $primary-color;
        border-radius: 15px;

        color: $tertiary-color;
        font-weight: 500;
        font-size: 18.0097px;
        line-height: 20px;
    }

    .SelectForm {
        display: flex;
        justify-content: space-between;

        select {
            width: 88%;
        }
    }

    .Products {
        margin: auto;
        text-align: center;
        max-height: 400px;
        overflow-y: auto;
        width: 610px;

        table {
            width: 100%;
            color: $tertiary-color;
        }

        .Product {

            svg {
                color: $primary-color;
                font-size: 20px;
                cursor: pointer;
            }

            input {
                text-align: center;
                border: 1px solid $primary-color;
                border-radius: 5px;
                max-width: 150px;

                &:disabled {
                    border: none;
                    opacity: 1;
                    background-color: transparent;
                }
            }
        }
    }

    .ExpandFormBtn {
        font-size: 15pt;
        font-weight: 500;
    }

    .Availability {
        color: $tertiary-color;

        .Time {
            input {
                color: $tertiary-color;
                width: 50px;
                text-align: center;
                border: 1px solid $primary-color;
                border-radius: 5px;
            }
        }

        &+button {
            padding: 7px 10px;
            margin: auto;
            display: block;
        }
    }
}

.SaveBtn {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 1px 10px;
    border-radius: 10px;
}