@import "../../sharedStyles/shared.module.scss";

.Container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        margin: 0 50px;
        border: 1px solid $primary-color;
    }
}